.App {
  text-align: center;
}




.pageBody{
  width: 100vw; 
  height: 100vh;
  position: relative;
  background: linear-gradient(black,black, black, grey, blue);
}
.pageBodyTopHalf{
  height: 50vh; 
  /* width: 60vw; */
  top: 0;

  animation-name: lightning;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* margin-left: -100px; */
  background-repeat: no-repeat;
  background-size: cover; 
  /* background-image:  url("https://www.gifs.cc/backgroundimages/lightning-rain.jpg"); */
}


@keyframes lightning {
  0%   {background-color: black;}
  47%   {background-color: black;}
  48%  {background-image:  url("https://clipart-library.com/img/1379256.gif");}
  50%  {background-color: black;}
  75%  {background-color: black;}
  100% {background-image: black;}
}


.lightningOne{
  /* background-image:  url("https://clipart-library.com/img/1827671.gif"); */
  /* height: 30%; 
  width: 20%;
  left: 70%; 
  z-index: 10; */
  /* top: 50%;
  left: 50%; 
  /* transform: translate(-50%, -50%); */
  /* height: 30vh; 
  z-index: 5;
  position: absolute;  */
}
.lightningTwo{
  /* background-image:  url("https://clipart-library.com/img/1379256.gif");
  height: 50vh; */
  /* top: 40%;
  left: 10%; 
  position: absolute; 
  z-index: 4; */
}
.myName{
  left: 30vw; 
  font-size: 5vh;
  font-family: cursive;
  position: absolute; 
  z-index: 3;
  color: white; 
  top: 20%;
  left: 48.5%; 
  transform: translate(-50%, -50%);
}
.folio{
  background-image:  url("folio.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  height: 80vh; 
  width: 70vh; 
  z-index: 2;
}
.port{
  height: 60vh;
  position: absolute;
  top: 53%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 3;
}