.App {
  text-align: center;
}


/* ---- MAINPAGE CSS ---- */
.mainPage{
  background-image:  url("https://img.freepik.com/premium-photo/normal-squares-alternating_640852-361.jpg");
  width: 100%; 
  height: 103vh;  
  background-repeat: no-repeat;
  background-size: cover; 
  color: white; 
}
.mainPageTopText{
  padding-top: 2vh;
  font-size: 5vh;
}
.mainPageTopBox{

  margin-top: -3vh;
  border: solid blue; 
  width: 100%; 
  height: 30%;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cardContainer{
  border: solid purple; 
  
  height: 70%; 
  margin: auto;
  display: block;
  align-items: center;
}
.innerCardContainer{
  
}
#spades,#hearts{
  transform: rotate(90deg);
  width: 12vw; 
}
#diamonds,#clubs{
  transform: rotate(90deg);
  width: 12vw; 
}

.space{
  height: 1vh; 
}

/* ---- MAIN PAGE BOTTOM BOX CSS ---- */
.bottomBox{
  border: solid purple; 

  width: 100%; 
  /* height: 65%; */
  display: flex; 
}

.scrollContainer{
  width: 100vw;
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-y: scroll;

}
.bottomBoxBulletPoints{
  border: solid blue; 
  width: 70vw; 
  height: 51vh;
  flex-shrink: 0;
}
.heading{
  top: -5vh;
  margin-top: -2vh;
  font-size: 2.5vh;
  z-index: 5;
}







/* ---- LANDING PAGE CSS ---- */
.pageBody{
  width: 100vw; 
  height: 100vh;
  position: relative;
  animation-name: lightning;
  animation-duration: 20s;
  animation-iteration-count: ease-in-out infinite;
  background: linear-gradient(black,black,black,grey,blue);
}
.myName{
  left: 30vw; 
  font-size: 5vh;
  font-family: cursive;
  position: absolute; 
  z-index: 3;

  top: 20%;
  left: 48.5%; 
  transform: translate(-50%, -50%);

	color: #333;
	/* background-color: black; */
	/* font-size: 56px; */
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 2px 2px black;
}


#example11{
	color: #333;
	background-color: black;
	font-size: 56px;
	-webkit-text-stroke: 1px #282828;
	text-shadow: 0px 4px 4px #282828;
}

.folio{
  background-image:  url("folio.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  height: 80vh; 
  width: 70vh; 
  z-index: 2;
}
.port{
  height: 60vh;
  position: absolute;
  top: 53%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 3;
}


/* ---- HEART BOX COMPONENTS ---- */
.heartBox{
  border: solid red; 
  width: 100%;
  height: 57vh; 
  margin-top: 2%;
  display: flex; 

}
.heartContainers{
  border: solid black; 

  width: 33%; 
  height: 100%; 
  margin: 20px; 
  margin-top: 0px;
  border-radius: 10px;
}
.heartsButtons{
  background-color: rgb(181, 28, 28);
  color: white; 
  border-radius: 5px;
  margin: 10px;
}
.heartsJsx{
  width: 100%; 
}


/* hearts left 3 pics  */
#heartPicL-L{
  background-image:  url("coffee.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#heartPicL-C{
  background-image:  url("roaster.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#heartPicL-R{
  background-image:  url("vesuviana.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

/* hearts center 3 pics  */
#heartPicC-L{
  background-image:  url("totalvocal.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#heartPicC-C{
  background-image:  url("harmonyuniversity.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#heartPicC-R{
  background-image:  url("starlake.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
}

/* hearts right 3 pics  */
#heartPicR-L{
  background-image:  url("rct2013.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#heartPicR-C{
  background-image:  url("rct2022.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
#heartPicR-R{
  background-image:  url("DougSmiling2023.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
.diamondFlex{
  display: flex; 
  justify-content: center;
  align-items: center;

  

}
.diamond{
  width: 50%;
  height: 100%;
  /* object-fit: cover; */
  /* overflow: hidden; */
}
/* #dMF{
  background-image:  url("react-movies.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  width: 80%; 
} */
















/* #rctcPic1{
  background-image:  url("rctstats.png");
  background-repeat: no-repeat;
  background-size:contain;
  width: 97vw; 
  margin-left: 1vw; 
  margin-right: 10vw;
} */














